<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <% include partials/template/head.ejs %>
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> Authentication Page</h1>
            <p>Login</p>
            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        </div>
    </div><!-- container -->
    <% include partials/template/jsdefaults.ejs %>
</body>

</html>
