<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <% include partials/template/head.ejs %>
</head>

<body>
    <a href="/">
        <button>Home</button>
    </a>
    <div class="container backgroundFont">
        <div class="row">
            <div class="col-lg-8 border">
                <h3> Add new item</h3>
                <form action="/create" method="POST" enctype="multipart/form-data" role="form" accept-charset="utf-8" class="form-horizontal">
                    <div class="form-group">
                        <label for="usr">Title:</label>
                        <input type="text" class="form-control" name="title">
                    </div>
                    <div class="form-group">
                        <label for="foodDescription">Item Description</label>
                        <textarea name="foodDescription" class="form-control" id="exampleTextarea" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <input type="file" class="this-is-your-class form-control-file" name="exampleInputFile"/>
                        <div id="T7-list">

                        </div>
                       <!--  <input multiple class="multi" accept="gif|jpg|png" name="exampleInputFile"/> -->
                        <!--    <input type="file" class="form-control-file" name="exampleInputFile"> -->
                        <!-- <small class="text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small> -->
                        <br />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Upload</button>
                    </div>
                </form>
            </div>
            <!-- col-lg-12 -->
        </div>
        <!-- row -->
    </div>
    <!-- container backgroundFont -->
    <div class="container backgroundFont">
        <div class="list-group row border">
            <h3> Edit Entries</h3>
            <% entries.forEach(function(entry) { %>
                <div class="panel panel-default col-lg-8">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="/edit/<%= entry._id%>" class="list-group-item col-sm-6">
                                        <span class="glyphicon glyphicon-file"></span>
                                        <%= entry.local.title %> Created on:
                                            <%= entry.local.date %>
                                    </a>
                                </td>
                                <td class="text-right text-nowrap">
                                    <a href="/delete/<%= entry._id%>">
                                        <span class="glyphicon glyphicon-trash gi-2x"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <% }); %>
        </div>
    </div>
    <% include partials/template/jsdefaults.ejs %>

    <script src="/javascripts/edit.js"></script>
</body>

</html>
